
@use "./mixin" as *;


.create-post-btn{
    width: 100%;
    height: 100px;
}
.login{
  margin-top: 7rem;
}

.admin-post-list {
  max-width: 500px;
  li {
    &:hover .edit {
      display: flex;
    }
    position: relative;
    .edit {
      display: flex;
      justify-content: flex-start;
      align-items: center;
     
      
    }
  }
}
